[submodule "GNL"]
	path = GNL
	url = git@github.com:Kenobiiii/get_next_line.git
[submodule "pipex"]
	path = pipex
	url = git@github.com:Kenobiiii/Pipex.git
[submodule "Libft"]
	path = Libft
	url = git@github.com:Kenobiiii/libft.git
[submodule "Printf"]
	path = Printf
	url = git@github.com:Kenobiiii/printf.git
[submodule "So_long"]
	path = So_long
	url = git@github.com:Kenobiiii/So_long.git
